<p>
  Vindo(a) esse projeto é uma exemplificação de reatividade e boas praticas envolvendo estrutura de
  projeto, rxjs, conceitos de estados, observables e uso do angular material temos as seguintes
  páginas:
</p>
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/users">usuarios</a></li>
  <li><a href="/cart">carrinho de itens</a></li>
  <li><a href="/person">pessoas</a></li>
  <li><a href="/todo">lista de tarefas</a></li>
</ul>

<p>
  nesse projeto ha varios conceitos em conjunto como, router, behaviour subject + observables,
  signals input e output state do navigation em um service a parte para usar de varios lugares root,
  api service global e a de cada pagina, refatoracao de codigo, ChangeDetectionStrategy.OnPush,
   
  há logs de debug para os desafios que iteram algo ou alteram estados
</p>

<p>
  Cada parte e cada atividade segue um padrão para mostrar os casos de uso de uma forma diferente,
  mas se fosse um projeto completo no mesmo padrão, eu seguiria algo parecido com o Users e o
  Todo-list
</p>
