<button (click)="getAll()" [disabled]="loading()">Listar todos</button>

@if (loading()) {
  <div class="loading-overlay">
    <mat-spinner diameter="36" />
    <span>Carregando</span>
  </div>
} @else {
  <!-- //*exercicio 2.4-->

  @for (item of list(); track item.name) {
    <div class="list">
      {{ item.name }} — {{ item.amount }} * R$ {{ item.price | number: '1.2-2' }}
      <button (click)="removeItem(item)">Remover</button>
    </div>
  }

  @if (list().length > 0) {
    <p>
      <strong>Total: R$ {{ total() | number: '1.2-2' }}</strong>
    </p>
  }
}
