.container {
  background-color: rgb(52, 59, 63);
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search {
  display: flex;
  width: 100%;
}
