.container {
  background-color: rgb(54, 54, 54);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  position: sticky;
  top: 0;
}

.menu , .icon {
  display: flex;
  gap: 0.5rem;
  color: rgb(255, 255, 255) ;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.search {
  width: 100%;
  background-color: rgba(202, 202, 202, 0.726);
}
