<mat-toolbar class="container">
  <div class="menu">
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="onSideBarToggle.emit(true)">menu</mat-icon>
    </button>
    <span>{{ navigationState.navbarHeader.value  }}</span>
  </div>

  <form [formGroup]="filterUsersForm">
    <mat-form-field class="search">
      <mat-label>Pesquisar Nome</mat-label>
      <input formControlName="name" type="text" matInput placeholder="David Eduardo Lino" />
    </mat-form-field>
  </form>
</mat-toolbar>
