<mat-toolbar class="container">
  <div class="menu">
    <button mat-icon-button (click)="onSideBarToggle.emit(true)">
      <mat-icon class="icon">menu</mat-icon>
    </button>
    <span class="title">{{ navbarState.navbarHeader.value }}</span>
  </div>

  <form [formGroup]="filterUsersForm" class="search- form">
    <mat-form-field class="search" appearance="outline" subscriptSizing="dynamic">
      <mat-icon matPrefix>search</mat-icon>
      <input formControlName="search" type="text" matInput placeholder="Pesquisar..." />
      <mat-icon matSuffix (click)="filterUsersForm.reset()">close</mat-icon>
    </mat-form-field>
  </form>
</mat-toolbar>
