<div class="form">
  <h3 class="modal-title">Adicionar novo usuário</h3>

  <form [formGroup]="newUsersForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Usuário (e-mail) *</mat-label>
      <input formControlName="email" type="email" matInput />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nome completo *</mat-label>
      <input formControlName="name" type="text" matInput />
    </mat-form-field>

    <div class="row-fields">
      <mat-form-field appearance="outline">
        <mat-label>CPF *</mat-label>
        <input formControlName="cpf" type="text" matInput placeholder="000.000.000-00" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número do telefone *</mat-label>
        <input formControlName="phone" type="text" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <select formControlName="phoneType" matNativeControl required>
          <option value="celphone">CELULAR</option>
          <option value="telephone">TELEFONE</option>
        </select>
      </mat-form-field>
    </div>

    <p class="sms-info">O usuário receberá uma senha provisória para acesso ao sistema por SMS.</p>
  </form>

  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="submit()"
    [disabled]="newUsersForm.invalid"
  >
    SALVAR
  </button>
</div>
